*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Rubik Wet Paint", system-ui;
  height: 100vh;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.subhead{
  font-family: "Prociono", serif;
  margin-top: 10px;
}

